.content
	// margin: 0px 16px
	margin-left: 16px
	margin-right: 16px
	.content__title
		margin-bottom: 32px
		display: flex
		justify-content: space-between
		align-items: center
		h2
			@include aFont(48, 32)
			+font(normal)
			font-feature-settings: 'salt'
		.content__button
			.content__buttonpopap
				color: $light_grin
				border-radius: 5px
				border: 2px solid
				padding: 8px 26px
				@include aFont(18, 12)
				+font(bold)
				text-decoration: none
			a:hover
				border-color: $light_grin_Hover
	.content__project
		display: flex
		// justify-content: flex-end
