.content__filter
	margin-right: 32px
.filter
.filter__button
.filter__floors
	margin-top: 32px
.filter__floorscheckbox
.filter__floorstaitel
	font-size: 24px
	font-weight: bold
	margin-bottom:  8px
.filter__square
.filter__sqaretext
	margin-left: 8px
	font-size: 22px
	font-family: Akrobat
	color: $light_black
	font-weight: bold
.filter__squareinput
	display: flex
	align-items: flex-end
	input[type="number"]
		font-family: Akrobat
		font-size: 18px
		font-weight: bold
		padding: 3px 10px
		border-radius: 3px
		border: 2px solid $light_grin
		color: $light_black
		max-width: 125px
	input[type="number"]:focus 
		color: $light_black
		border: 2px solid $light_grin_Hover
	
.filter__squaretitle
	font-size: 24px
	font-weight: bold
	margin-bottom:  8px