@media screen and ( max-width: 1084px )
   .content
      .content__title
         // justify-content: flex-start
         h2
            margin-right: 150px
      .content__project
         flex-wrap: wrap
         .content__filter
            display: flex
            align-items: flex-end
            justify-content: space-between
            // align-items: flex-end
            width: 100%
            margin-right: 0
            margin-bottom: 64px

            .filter__square
               margin-right: 64px
               .filter__squareinput
                  margin-left: 0
            .filter__floors
               margin-right: 32px
               margin-top: 0px
               display: flex
               flex-direction: column
               // width: 100%

               .filter__floorstaitel
                  margin-bottom: 14px
               .filter__floorscheckbox
                  display: flex
                  margin-bottom: 0
                  margin-left: 0
                  p
                     padding: 0
                     display: flex
                     align-items: flex-end
                     label:before
                        margin-right: 10px
                  p:nth-child(odd)
                     margin-right: 24px
            .filter__button
               input
                  padding-right: 34px
                  padding-left: 34px

@media screen and ( max-width: 832px )
   .container
      .container__titel
         .titel__text
            h1
               font-size: 64px
            p

   .content
      .content__card
         .content__cardsection
            max-width: 100%
            margin-right: 0
            .slick-list
               max-height: 350px
      .content__project
         .content__filter
            .filter__block
               // flex-wrap: wrap
               .filter__floors
                  .filter__floorstaitel
                     font-size: 0
                  .filter__floorscheckbox
                     display: block

@media screen and ( max-width: 768px )
   .container
      .content
         .content__title
            h2
               margin-right: 32px
         .content__project
            .content__filter
               .filter__floors
                  .filter__floorstaitel
                     font-size: 0
                  .filter__floorscheckbox
                     display: block
                     p:nth-child(1)
                        margin-bottom: 12px
@media screen and ( max-width: 610px )
   .container
      .container__contactsheader
         .contacts__link
            .contacts__phone
               a
                  span
                     font-size: 0
      .container__titel
         .titel__text
            h1
               font-size: 36px
            p
               font-size: 24px
         .titel__slaider
            a
               font-size: 24px
      .content
         .content__title
            h2
               font-size: 24px
            .content__button
               input
                  font-size: 18px
               .filter__sqaretext
                  p
                     font-size: 14px
         .content__project
            .content__filter
               flex-wrap: wrap
               .filter__square
                  margin-right: 32px

                  h3
                     font-size: 14px
                     margin-bottom: 18px
                  .filter__squareinput
                     input
                        width: 110px
               .filter__floors
                  margin-right: 32px
                  .filter__floorstaitel

                  .filter__floorscheckbox
                     p
                        label
                           font-size: 14px
               .filter__button
                  align-self: flex-end
@media screen and ( max-width: 533px )
   .container
      .container__contactsheader
         .contacts__link
            .contacts__phone
               a
                  span
      .container__titel
         .titel__text
            h1
               font-size: 0px

         .titel__slaider
            a

      .content
         .content__title
            h2

            .content__button
               input

               .filter__sqaretext
                  p

         .content__project
            .content__filter

               .filter__square
                  margin-right: 0px

                  h3

                  .filter__squareinput
                     input

               .filter__floors

                  .filter__floorstaitel

                  .filter__floorscheckbox
                     p

               .filter__button
