@media ( max-width: 1084px )
   .content
      .content__title
         h2
      .content__project
         flex-wrap: wrap
         .content__filter
            display: flex
            align-items: flex-end
            justify-content: space-between
            width: 100%
            margin-right: 0
            margin-bottom: 64px
            .filter__square
               margin-right: 64px
               .filter__squareinput
                  margin-left: 0
            .filter__floors
               margin-right: 32px
               margin-top: 0px
               display: flex
               flex-direction: column
               .filter__floorstaitel
                  margin-bottom: 14px
               .filter__floorscheckbox
                  display: flex
                  margin-bottom: 0
                  margin-left: 0
                  p
                     padding: 0
                     display: flex
                     align-items: flex-end
                     label::before
                        margin-right: 10px
                  p:nth-child(odd)
                     margin-right: 24px
            .filter__button
               input
                  padding-right: 34px
                  padding-left: 34px
   .productcontainer
      .productcontainer__title
      .productcontainer__card
         flex-wrap: wrap
         .card__slider
            flex: 0 1 100%
            margin: 0 0 32px 0

            .slick-list
               max-height: 500px
         .card__specifications
            flex: 0 1 100%
            height: auto
            flex-wrap: wrap
            flex-direction: row
            .card__square, .card__block1, .card__block2, .card__block3
               flex-direction: column
               width: auto
            .card__square div:first-child, .card__block1:first-child, .card__block2:first-child, .card__block3:first-child
               margin-bottom: 18px
      .equipment
         .equipment__slider
            min-width: 0
            .equipment__sliderbutton
               .equipment__balk
               .equipment__log
            .equipment__blockslider
               min-width: 0
               .slick-list
                  overflow: hidden
               .slick-track
                  display: flex
                  .equipment__blockbalk
                  .equipment__blocklog
@media ( max-width: 832px )
   .container
      .container__titel
         .titel__text
            h1
            p
   .content
      .content__card
         .content__cardsection
            max-width: 100%
            margin-right: 0
            .slick-list
               max-height: 400px
            .card__data
               display: flex
               justify-content: space-between
               .card__params
                  a
                     margin-right: 42px
               .card__praise
                  h4
                     margin-right: 42px
      .content__project
         .content__filter
            .filter__block
               .filter__floors
                  .filter__floorstaitel
                     font-size: 0
                  .filter__floorscheckbox
                     display: block
@media ( max-width: 768px )
   .container
      .container__contactsheader
         .contacts__link
            .contacts__phone
               a
                  span
                     font-size: 0
      .container__titel
         margin-bottom: 32px
         .titel__slaider
            display: none
      .content
         .content__card
            .content__cardsection
               .slick-list
                  max-height: 350px     
         .content__project
            .content__filter
               .filter__floors
                  .filter__floorstaitel
                     font-size: 0
                  .filter__floorscheckbox
                     display: block
                     p:nth-child(1)
                        margin-bottom: 12px
            .filter__button
               margin-left: 22px
         .content__card
            .card__data            
      .productcontainer
         .productcontainer__view
            .productcontainer__slider 
               .productcontainer__floorplan 
                  flex-direction: column
                  .productcontainer__floorplanimg
                     width: 100%
               .productcontainer__facade 
                  flex-direction: column
                  .productcontainer__facadeimg
                     width: 100%
@media ( max-width: 610px )
   .container
      .container__contactsheader
         .contacts__link
            .contacts__phone
               a
                  span
                     font-size: 0
      .container__titel
         .titel__slaider
            display: none
      .content
         .content__project
            .content__filter
               flex-wrap: wrap
               .filter__square
                  margin-right: 32px
                  h3
                     margin-bottom: 18px
                  .filter__squareinput
                     input
                        width: 110px
               .filter__floors
                  margin-right: 32px
               .filter__button
                  align-self: flex-end
                  margin-left: 0
@media ( max-width: 570px )
   .container
      .content
         .content__card
            .content__cardsection
               .slick-list
                  max-height: 250px 
         .content__title
            flex-direction: column
            align-items: flex-start
            align-items: stretch
            .content__titletext
               margin-bottom: 32px
            .content__buttonblock
               display: flex
               justify-content: space-between
               .content__button
               .content__buttonfilter
                  z-index: 10
                  width: 25px
                  height: 28px
                  background-image: url(../img/icons/filter.svg)
                  background-size: contain
                  background-repeat: no-repeat
                  color: red
                  pointer-events: all
               .content__buttonfilter:hover
                  background-image: url(../img/icons/filterHover.svg)
                  cursor: pointer
         .content__project
            .content__filter
               display: none
               .filter__square
                  margin-right: 24px
                  .filter__squaretitle
                     margin-bottom: 12px
               .filter__floors
                  margin-right: 0px
                  .filter__floorscheckbox
                     margin-right: 12px
                     p
                        margin-right: 0px
               .filter__button
                  margin-top: 32px
                  // margin-left: auto
                  input
                     padding-left: 32px
                     padding-right: 32px
@media ( max-width: 500px )
   .container
      .container__contactsheader
         .contacts__link
            .contacts__socialnetwork
               display: none
      .content
         .content__card
            .content__cardsection
               .slick-list
                  max-height: 200px 
         .card__data
            .card__params
               a
                  font-size: 22px
               .card__square
                  p
                     font-size: 16px
                  .card__squareicon
            .card__praise
               .Card__sum
                  p
                     font-size: 16px
         .content__project
            .content__filter
               .filter__square
               .filter__floors
               .filter__button
                  // margin-top: 32px
                  margin-left: auto
@media ( max-width: 377px )
   .container
      .content
         .content__card
            .content__cardsection
               .slick-list
                  max-height: 180px 