.container__productheader
    margin-bottom: 64px
.productcontainer
    margin-bottom: 64px
    .productcontainer__title
        margin: 0px 16px 64px 16px
        h1
            @include aFont(18, 12)
            text-transform: capitalize
            margin: 0
            font-weight: normal
            margin-bottom: 8px
            // letter-spacing: 8px
            // font-feature-settings: 'salt'  
    .productcontainer__card
        display: flex
        flex-wrap: wrap
        min-width: 0
        .card__slider
            // height: 400px
            min-width: 0
            margin-right: 16px
            margin-bottom: 0
            flex: 0 1 80%

            .slick-list
                // max-width: 800px
                // min-width: 200px
                // height: 400px
                min-height: 100%
        .card__price
            flex: 0 3 100%
            margin-top: 32px
            // margin-left: 16px
            h2
                @include aFont(32, 24)
                font-weight: normal
                text-transform: uppercase
            .card__priceblok
                display: flex
                padding-left: 48px
                p
                    @include aFont(22, 14)
                    margin-right: 10%
                // justify-content: flex-end

        .card__specifications
            flex: 0 3 18%
            height: 500px
            // margin-right: 16px
            min-height: 100%
            display: flex
            flex-direction: column
            justify-content: space-between
            .card__square,.card__block1,.card__block2,.card__block3
                display: flex
                justify-content: space-between
                font-size: 14px
            .card__block1,.card__block2,.card__block3
                svg
                    width: 48px
                    height: 48px
            .card__square
                @include aFont(32, 18)
                // font-weight: bold
                .card__squareicon
                    // margin-right: 16px
                svg
                    width: 64px
                    height: 64px
            .card__rooms,.card__kitchen,.card__bathroom,.Card__sauna,.card__attic,.card__balcony
                width: 64px
                // height: 84px
                display: flex
                flex-direction: column
                justify-content: center
                p
                    text-align: center
.productcontainer__view
    margin: 0px 16px 0px 16px

    button
        @include aFont(32,18)
        font-family: Akrobat
        background-color: transparent
        border: 0
        padding: 0
        color: $light_black
        border: 1px solid $grayheader
        padding: 3px 22px
        border-radius: 5px
        font-weight: 400
        cursor: pointer
        margin-bottom: 32px
        margin-right: 24px
    button:hover
        // border-color: $light_grin_Hover
        color: $light_grin_Hover
    .slick-disabled
        color: $light_grin
        border-color: $light_grin_Hover
        cursor: default

    .productcontainer__next
        @include aFont(32, 18)
    .productcontainer__slider
        min-width: 0
        margin-bottom: 32px
        .slick-list
            overflow: hidden
            .slick-track
                display: flex
                align-items: flex-start
                .productcontainer__floorplan
                    display: flex
                    justify-content: space-between
                    min-width: 0
                    .productcontainer__floorplanimg
                        background-color: #fff
                        width: 49%
                        // height: 445px
                        overflow: hidden
                        img
                            width: 100%
                            object-fit: cover
                .productcontainer__facade
                    display: flex
                    justify-content: space-between
                    flex-wrap: wrap
                    min-width: 0
                    .productcontainer__facadeimg
                        width: 49%
                        // height: 445px
                        overflow: hidden
                        margin-bottom: 16px
                        img
                            width: 100%
                            object-fit: cover
    .productcontainer__edit
        @include aFont(22, 14)
        color: $light_grin
        border: 2px solid $light_grin
        border-radius: 5px
        padding: 9px 12px
        margin-left: 50%
        text-decoration: none
        display: inline-block
        transform: translateX(-50%)
    .productcontainer__edit:hover
        color: $light_grin_Hover
        border-color: $light_grin_Hover

.equipment
    margin: 0 16px
    h3
        @include aFont(56, 32)
        font-weight: 300
        margin-bottom: 32px
        color: $light_black
    .equipment__slider
        .equipment__sliderbutton
            display: flex
            justify-content: space-between
            button
                @include aFont(32, 18)
                font-family: Akrobat
                background-color: transparent
                border: 0
                padding: 0
                color: $light_black
                margin-bottom: 24px
            button:nth-child(2)
                margin-right: 324px
        .equipment__blockslider
            display: flex
            justify-content: space-between
            dl
                dt
                    font-family: Akrobat
                    @include aFont(32, 18)
                    margin-bottom: 8px
                dd
                    font-family: Akrobat
                    @include aFont(22, 14)
                    margin-left: 42px
                    margin-bottom: 8px
