.titel__text
	display: flex
	flex-flow: column wrap
	padding: 0 16px 32px 16px
	h1
		font-size: 90px
		font-weight: 500
		font-style: normal
		margin: 0
	p
		font-size: 36px
		font-variant: 500px
		font-feature-settings: 'salt'
		span
			font-weight: bold
			
.container__titel
	margin-top: 32px
.slaider__img
	img
		max-width: 100%