@charset "UTF-8";

@font-face {
  font-family: 'Akrobat';
  src: url("../fonts/Akrobat-Bold.woff2") format("woff2"), url("../fonts/Akrobat-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Akrobat';
  src: url("../fonts/Akrobat-Regular.woff2") format("woff2"), url("../fonts/Akrobat-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-template-areas: "header header header header header header header header header header header header" "titel titel titel titel titel titel titel titel titel titel titel titel" "content content content content content content content content content content content content" "footer footer footer footer footer footer footer footer footer footer footer footer";
}

.contacts {
  grid-area: header;
}

.titel {
  grid-area: titel;
}

.content {
  grid-area: content;
}

.footer {
  grid-area: footer;
}

* {
  margin: 0;
  padding: 0;
  outline: 0 !important;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

input[type='number'] {
  -moz-appearance: textfield;
}

body {
  color: #272b34;
  font-size: 18px;
  background-color: #E5E5E5;
  font-family: Akrobat;
  font-weight: normal;
}

.container {
  max-width: 1024px;
  margin: 0 auto;
}

.container__contactsheader {
  margin-bottom: 94px;
}

.contacts {
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 16px;
  background-color: #E5E5E5;
  border-radius: 0 0 5px 5px;
  z-index: 20;
}

.contacts__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.socialnetwork {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.socialnetwork a {
  margin-left: 36px;
}

.contacts__phone {
  padding-left: 42px;
}

.phone a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #272b34 !important;
  text-decoration: none;
  margin-top: 2px;
}

.phone a span {
  color: #272b34 !important;
  font-size: 24px;
}

.phone a img {
  margin-right: 8px;
}

.container__titel {
  margin-bottom: 94px;
}

.titel__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  padding: 0 16px 32px 16px;
}

.titel__text h1 {
  font-size: 84px;
  margin: 0;
  font-family: Akrobat;
  font-weight: normal;
  -webkit-font-feature-settings: 'salt';
          font-feature-settings: 'salt';
}

.titel__text p {
  font-size: 36px;
  -webkit-font-feature-settings: 'salt';
          font-feature-settings: 'salt';
}

.titel__text p span {
  font-weight: bold;
}

/*Slaider*/

.titel__slaider {
  position: relative;
  /* Стрелка */
  /* Стрелка вправо */
  /* Элемент точки */
}

.titel__slaider .slick-list {
  overflow: hidden;
  border-radius: 5px;
}

.titel__slaider .slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.titel__slaider .slaider__img {
  position: relative;
}

.titel__slaider .slaider__img img {
  max-width: 100%;
}

.titel__slaider .slaider__img a {
  font-size: 36px;
  text-transform: uppercase;
  padding: 4px 8px;
  border-radius: 5px;
  -webkit-backdrop-filter: blur(2px);
          backdrop-filter: blur(2px);
  position: absolute;
  bottom: 16px;
  left: 16px;
  text-decoration: none;
  color: #E5E5E5;
}

.titel__slaider .slaider__img a:hover {
  color: #5eac19c7;
}

.titel__slaider .slick-arrow {
  position: absolute;
  top: 16px;
  z-index: 10;
  width: 62px;
  height: 62px;
  font-size: 0;
  padding: 0;
  border: none;
  background-color: transparent;
  outline: none;
}

.titel__slaider .slick-prev {
  right: 106px;
  background: url(../img/icons/button_L.svg) 0 0/100% no-repeat;
}

.titel__slaider .slick-prev:hover {
  background: url(../img/icons/button_L_Hover.svg) 0 0/100% no-repeat;
}

.titel__slaider .slick-next {
  right: 16px;
  background: url(../img/icons/button_R.svg) 0 0/100% no-repeat;
}

.titel__slaider .slick-next:hover {
  background: url(../img/icons/button_R_Hover.svg) 0 0/100% no-repeat;
  /* Стрелка не активная */
}

.titel__slaider .slick-dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  right: 26px;
  bottom: 31px;
}

.titel__slaider .slick-dots li {
  list-style: none;
  margin: 0 4px;
}

.titel__slaider .slick-dots li button {
  font-size: 0;
  width: 14px;
  height: 14px;
  background-color: transparent;
  border-radius: 50%;
  border: 3px solid #E5E5E5;
}

.titel__slaider .slick-dots .slick-active button {
  border: 3px solid #5DAC19;
}

.content {
  margin: 0px 16px;
}

.content .content__title h2 {
  font-size: 64px;
  font-family: Akrobat;
  font-weight: normal;
  -webkit-font-feature-settings: 'salt';
          font-feature-settings: 'salt';
}

.content .content__project {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.content__filter {
  margin-right: 32px;
  height: 100%;
}

.filter .filter__button input {
  border-radius: 5px;
  border: 2px solid;
  padding: 3px 6px;
  font-size: 18px;
  color: #5DAC19;
  font-family: Akrobat;
  font-weight: normal;
}

.filter .filter__floors {
  margin-top: 32px;
}

.filter .filter__floorscheckbox {
  margin-bottom: 32px;
}

.filter .filter__floorscheckbox p {
  padding-bottom: 5px;
}

.filter .filter__floorscheckbox input[type="checkbox"] {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.filter .filter__floorscheckbox input[type="checkbox"] + label {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  font-family: Akrobat;
  font-weight: normal;
}

.filter .filter__floorscheckbox input[type="checkbox"] + label::before {
  content: '';
  display: inline-block;
  width: 23px;
  height: 23px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  border: 1px solid #272b34;
  border-radius: 5px;
  margin-right: 20px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 90% 75%;
}

.filter .filter__floorscheckbox input[type="checkbox"]:checked + label::before {
  border-color: #5DAC19;
  background-color: #5DAC19;
  background-image: url("../img/icons/checkmark.svg");
}

.filter .filter__floorscheckbox input[type="checkbox"]:not(:disabled):not(:checked) + label:hover::before {
  border-color: #5eac19c7;
}

.filter .filter__floorscheckbox input[type="checkbox"] + label:hover {
  cursor: pointer;
}

.filter .filter__floorstaitel {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 5px;
  font-weight: normal;
}

.filter .filter__sqaretext {
  font-size: 18px;
  color: #272b34;
  font-family: Akrobat;
  font-weight: normal;
}

.filter .filter__squareinput {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.filter .filter__squareinput input[type="number"] {
  margin-right: 8px;
  font-size: 18px;
  padding: 3px 10px;
  border-radius: 5px;
  border: 2px solid #5DAC19;
  color: #272b34;
  max-width: 125px;
}

.filter .filter__squareinput input[type="number"]:focus {
  color: #272b34;
  border: 2px solid #5eac19c7;
}

.filter .filter__squaretitle {
  font-size: 24px;
  margin-bottom: 5px;
  font-family: Akrobat;
  font-weight: normal;
}

.content__card:nth-child(even) {
  margin-right: 32px;
}

.content__card {
  margin-bottom: 64px;
  max-width: 36%;
}

.card {
  min-width: 0;
}

.card .card__slider {
  position: relative;
  margin-bottom: 12px;
}

.card .card__slider .slick-list {
  overflow: hidden;
  height: 196px;
  border-radius: 5px;
}

.card .card__slider .slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.card .card__slider .card__img img {
  max-width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.card .card__slider .slick-arrow {
  position: absolute;
  top: 8px;
  right: 8px;
  z-index: 10;
  font-size: 0;
  padding: 0;
  border: none;
  background-color: transparent;
  outline: none;
  width: 46px;
  height: 46px;
  background-color: transparent;
}

.card .card__slider .slick-next {
  background: url(../img/icons/button_R.svg) 0 0/100% no-repeat;
}

.card .card__slider .slick-next:hover {
  background: url(../img/icons/button_R_Hover.svg) 0 0/100% no-repeat;
}

.card .card__slider .slick-dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  position: absolute;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  bottom: 8px;
  right: 50%;
  -webkit-transform: translateX(50%);
      -ms-transform: translateX(50%);
          transform: translateX(50%);
}

.card .card__slider .slick-dots li {
  padding: 4px;
}

.card .card__slider .slick-dots li button {
  font-size: 0;
  width: 12px;
  height: 12px;
  background-color: transparent;
  border-radius: 50%;
  border: 3px solid #E5E5E5;
}

.card .card__slider .slick-dots .slick-active button {
  border: 3px solid #5DAC19;
}

.card .card__data .card__params {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 12px;
}

.card .card__data .card__params a {
  font-size: 24px;
  color: #272b34;
  text-transform: uppercase;
}

.card .card__data .card__params a:hover {
  color: #5eac19c7;
}

.card .card__data .card__params .card__square {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.card .card__data .card__params .card__square p {
  font-size: 16px;
  color: #272b34;
  font-family: Akrobat;
  font-weight: bold;
}

.card .card__data .card__params .card__square img {
  margin-right: 12px;
}

.card .card__data .card__praise {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.card .card__data .card__praise .Card__sum p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.card .card__data .card__praise .Card__sum p span {
  margin-right: 12px;
}

.card .card__data .card__praise .Card__sum p span:last-child {
  margin-right: 0;
}

.card .card__data .card__praise h4 {
  font-size: 24px;
  font-family: Akrobat;
  font-weight: normal;
}

.footer {
  background-color: #272b34;
  padding: 8px 16px 0 16px;
  border-radius: 5px 5px 0 0;
}

.container__productheader {
  margin-bottom: 64px;
}

.productcontainer .productcontainer__title h1 {
  font-size: 84px;
  text-transform: capitalize;
  margin: 0;
  font-family: Akrobat;
  font-weight: normal;
  margin-bottom: 24px;
  -webkit-font-feature-settings: 'salt';
          font-feature-settings: 'salt';
}

.productcontainer .productcontainer__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.productcontainer .productcontainer__card .card__slider {
  height: 400px;
  margin-right: 16px;
  margin-bottom: 0;
}

.productcontainer .productcontainer__card .card__slider .slick-list {
  max-width: 800px;
  min-width: 200px;
  height: 400px;
}

.productcontainer .productcontainer__card .card__specifications {
  margin-right: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.productcontainer .productcontainer__card .card__specifications .card__square,
.productcontainer .productcontainer__card .card__specifications .card__block1,
.productcontainer .productcontainer__card .card__specifications .card__block2,
.productcontainer .productcontainer__card .card__specifications .card__block3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 14px;
}

.productcontainer .productcontainer__card .card__specifications .card__square {
  font-size: 24px;
  font-weight: bold;
}

.productcontainer .productcontainer__card .card__specifications .card__square .card__squareicon {
  margin-right: 16px;
}

.productcontainer .productcontainer__card .card__specifications .card__square .card__squareicon svg {
  width: 64px;
  height: 64px;
}

.productcontainer .productcontainer__card .card__specifications .card__rooms,
.productcontainer .productcontainer__card .card__specifications .card__kitchen,
.productcontainer .productcontainer__card .card__specifications .card__bathroom,
.productcontainer .productcontainer__card .card__specifications .Card__sauna,
.productcontainer .productcontainer__card .card__specifications .card__attic,
.productcontainer .productcontainer__card .card__specifications .card__balcony {
  width: 64px;
  height: 84px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.productcontainer .productcontainer__card .card__specifications .card__rooms p,
.productcontainer .productcontainer__card .card__specifications .card__kitchen p,
.productcontainer .productcontainer__card .card__specifications .card__bathroom p,
.productcontainer .productcontainer__card .card__specifications .Card__sauna p,
.productcontainer .productcontainer__card .card__specifications .card__attic p,
.productcontainer .productcontainer__card .card__specifications .card__balcony p {
  text-align: center;
}

.productcontainer .productcontainer__card .card__specifications .card__rooms svg,
.productcontainer .productcontainer__card .card__specifications .card__kitchen svg,
.productcontainer .productcontainer__card .card__specifications .card__bathroom svg,
.productcontainer .productcontainer__card .card__specifications .Card__sauna svg,
.productcontainer .productcontainer__card .card__specifications .card__attic svg,
.productcontainer .productcontainer__card .card__specifications .card__balcony svg {
  width: 60px;
  height: 60px;
}

@media all and (-ms-high-contrast: none) {
  .grid-container {
    display: -ms-grid;
    -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  }

  .header {
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 12;
  }

  .titel {
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 12;
  }

  .content {
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 12;
  }

  .footer {
    -ms-grid-row: 4;
    -ms-grid-row-span: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 12;
  }
}